
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 50px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sub {
  margin-left: 360px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px 10px ;
  background-color: grey;
  
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<header>

<div class="sidenav pt-5">
  <h3 style="color: rgb(253, 209, 11); padding-left:90px">Home Chef</h3>
  <a href="/vendor/vendor-home">Vendor Dashboard</a>
  <a href="/vendor/product-management">Product Management</a>
  <a href="/vendor/order-management">Order Management</a>
  <a href="/vendor/order-history">Order History</a>
</div>

<div class="sub ">
  {{#if vendorSession}}  
  <h2 style="font-weight: bold; padding-top: 30px; padding-left:25%; ">Food Odering App | Vendor Login {{vendorSession.Vendor}}</h2>
  <div class="d-flex">
    <a href="/vendor/vendor-logout" class="btn btn-primary ml-auto ">logout</a>
    </div>
    {{else}}
    <h2 style="font-weight: bold; padding-top: 30px; padding-left:25%; ">Food Odering App | Vendor Login</h2>
    {{/if}}
</div>
   
</header>