<style>
    
.box1{
    width: 40%;
    height: 100px;
    
    float: left;
    margin: 10px;
    
}
.box2{
    width: 40%;
    height: 100px;
    
    
    margin:10px ;
}


</style>

<div class="row">
    <div class="container">
        <div class="box1">
            <h5 class="card-title">About Us</h5>
            <p class="card-text">provide best bakery products </p>
        
            <img src="https://image.freepik.com/free-photo/variety-breakfast-bread-products-from-bakery-top-view-isolated-white-background_1378-1901.jpg"
                alt="">
        </div>
    </div>
</div>