<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}
                <div class="col-md-3 p-3">
                    <div class="card p-3" style="width: 18rem; border:none; background-color:#ffab0f; place-items:center">
                        
                        <img class="img-fluid   rounded mt-2 "  style="height: 150px; width:170px;" src="/product-images/{{this.product._id}}.jpg" alt="Card image cap">
                        
                        
                        <div class="card-body">
                            
                            <h5 class="card-title " style="color: ivory;">{{this.product.Product}}</h5>
                            <h5 class="card-title " style="color: ivory;">Rs.{{this.product.Price}}</h5>
                            
                            <p class="card-title " style="color: ivory;">Quantity:{{this.quantity}}</p>
                            
                            
                            
                        </div>
                        
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>